.features-list {
  display: block;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    .features-list__item {
      margin-right: 30px;
    }
    & > .features-list__item {
      flex-basis: calc((100% - 30px) / 2);
      margin-right: 30px;
      margin-bottom: 30px;
    }
    .features-list__item:nth-child(2n) {
      margin-right: 0;
    }
    & > .features-list__item:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  @include desktop {
    flex-wrap: nowrap;
    .features-list__item {
      margin-bottom: 0;
      margin-right: 30px;
    }
    & > .features-list__item:nth-child(2n) {
      margin-right: 30px;
    }
  }
}

// .features-list__item:last-child {
//   margin-right: 0px;
// }
.features-list-div {
  background-color: getColor('features-div-color');
  width: 100%;
  height: 100%;
  // width: 270px;
  margin-bottom: 30px;
  @include tel {
    width: 450px;
    height: 120px;
  }
  @include flex-align-justify;
  @include tablet {
    width: 354px;
  }
  @include desktop {
    width: 270px;
  }
}
.features-list-div__h {
  display: block;
  margin-bottom: 10px;
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: getColor('headers-nav-color');
  @include tablet {
    text-align: left;
  }
}
.features-list-div__p {
  line-height: 1.71;
  margin-bottom: 30px;
  @include desktop {
    margin-bottom: 0;
  }
}
