@media screen and (max-width: 480px) {
  .container {
    width: 480px;
  }
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .logo-link {
    font-size: 24px;
  }
  .navigation__flex {
    justify-content: space-between;
  }
  nav {
    display: none;
  }
  .mobile-menu__button__open {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    &:hover,
    &:focus {
      fill: getColor('main-accent-color');
    }
  }
  .mobile-menu.is-open .mobile-menu__button__close {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    &:hover,
    &:focus {
      fill: getColor('main-accent-color');
    }
  }

  .navigation-list {
    display: none;
    margin-left: 0;
  }
  .navigation-contacts-list {
    display: none;
    margin-left: 0;
  }
  .effective-section {
    padding: 118px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/header-mobile.jpg');
    text-align: center;
    max-width: none;
    margin-left: 0;
    margin-right: 0;
  }
  .effective-section__h {
    margin-bottom: 30px;
    width: 360px;
    height: 84px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
  }
  .features-list {
    display: block;
  }
  .features-list__item {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .features-list__item:last-child {
    margin-bottom: 0;
  }
  .features-list-div {
    width: 450px;
    height: 120px;
  }
  .features-list-div__h {
    text-align: center;
  }
  .our-work__section {
    display: none;
  }
  .team-section__h {
    margin-bottom: 30px;
    font-size: 28px;
  }
  .team-list {
    display: block;
  }
  .team-list__item {
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .team-list__item > .img-team-origin {
    display: none;
  }
  .team-list__item > .img-team-mobile {
    display: block;
  }
  .regular-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .regular-section__h {
    font-size: 28px;
    margin-bottom: 30px;
  }
  .regular-clients__link {
    width: 210px;
  }
  .regular-clients__list {
    flex-wrap: wrap;
    width: 450px;
  }
  .regular-clients__list > .regular-clients__item {
    flex-basis: calc((100% - 15px) / 2);
    margin-right: 15px;
    margin-bottom: 15px;
  }
  .regular-clients__list > .regular-clients__item:nth-child(2n) {
    margin-right: 0;
  }
  .regular-clients__list > .regular-clients__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
    height: 100%;
  }
  .footer__flex-div {
    display: block;
  }
  .footer-address__div {
    text-align: center;
  }
  .footer-address-list {
    display: block;
    text-align: center;
    margin-bottom: 60px;
  }
  .footer-address-list__item:not(:last-child) {
    margin-bottom: 12px;
  }

  .footer-social__div {
    margin-left: 0;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-subscribe__div {
    text-align: center;
  }
  .footer-subscribe__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-subscribe__email {
    width: 450px;
    height: 50px;
    padding: 15px;
    margin-bottom: 20px;
  }
  .backdrop {
    overflow-x: scroll;
  }
  .modal {
    position: absolute;
    width: 450px;
    height: 609px;
    padding: 40px;
  }
  .modal__p {
    line-height: 1.5;
  }
  .modal-form__field-checkbox--text,
  .modal-form__field-checkbox--link {
    font-size: 12px;
    line-height: 1.17;
  }
  .modal-form__field-checkbox--icon {
    margin-right: 8px;
  }
}
